@charset "UTF-8";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.info p {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 25px;
}

.info {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  max-width: 400px;
  height: 200px;
  box-shadow: 5px 5px 5px #333;


}

.cart-list {
  border: 1px solid #000;
  padding: 10px;
  max-width: 400px;
  border-radius: 15px;
}


.cart-list-item-detail {
  border: 1px solid violet;
  border-radius: 15px;

}

.cart-list-item-detail img {
  display: block;
  width: 200px;
  border-radius: 15px;
}


.price {
  font-weight: 900;
}

.invoice {
  border: 1px solid #eee;
  border-radius: 15px;
  background-color: whitesmoke;
  max-width: 400px;
  height: 200px;
  box-shadow: 5px 5px 5px #333;
}

.invoice li {
  margin: 0 40px 0 0;
  border-bottom: 2px dotted #000;
}

.customer-btn {
  background-color: whitesmoke;
  color: #333;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid #eeeeee;
  box-shadow: 5px 5px 5px #333;
}

#payment-btn:hover {
  box-shadow: 0 4px 17px rgb(0, 0, 0, 0.1);
  border: 1px solid #eee;
}

.payment-form {
  border: 1px solid #333;
  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 5px #333;
  transition: none;
  padding: 10px 20px;
  max-width: 400px;
}

/* Input */
.payment-form input,
.payment-form select {
  color: #27d3f1;
  font-weight: 600;
  border: 1px solid #333;
}
.payment-form input:focus {
  box-shadow: none;
}
.payment-form .select:focus {
  box-shadow: none;
}
#goBack:hover {
  background-color: #f44336;
  border: 1px solid #f44336;
  color: white;
}
#checkout{
  font-size: 14px;
}
#checkout:hover {
  background-color: #27d3f1;
  border: 1px solid #27d3f1;
  color: white;
}

#pay:hover {
  background-color: #27d3f1;
  border: 1px solid #27d3f1;
  color: white;
}

.goBackAndCheckout .customer-btn {
  margin: 20px;
  justify-content: space-between;
}

#message {
  border-radius: 20px;
  transition: all 0.3s ease;
}

.alert {
  border-radius: 20px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.error-message {
  color: rgb(236, 58, 4);
  margin-bottom: 0px;
  transition: all 0.3s ease;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {}


@media screen and (max-width: 575px) {
  
}